* {
  margin: 0;
  padding: 0;
}

/* Header */
.header__left img {
  object-fit: contain;
  height: 80px;
  margin-left: -6px;
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  height: 60px;
}

.header__left {
  display: flex;
  align-items: center;
}


.header__left span {
  padding: 20px;
  align-items: center;
  cursor: pointer;
}

.header__middle{
  display:flex;
  flex: 0.6;
  align-items: center;
  background-color: #f1f3f4;
  padding: 4px;
  border-radius: 8px;
  margin-left: -11%;
  border: 1px solid transparent;
  height: 30px;
  
}

.header__left span:hover {
  border: 1px transparent #9fa5a5;
  border-radius: 100%;
  box-shadow: 0 0 5px  #9fa5a5;
}


.header__middle span{
  padding: 5px;
}

.material-icons {
  color: gray;
}

.header__middle input {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: medium;
  background-color: transparent;
}

.header__middle span:hover {
  border: 1px transparent #9fa5a5;
  border-radius: 100%;
  box-shadow: 0 0 5px  #9fa5a5;
}

.header__right {
  display: flex;
  padding-right: 20px;
}

.header__right span {
  padding: 10px;
  cursor: pointer;
}

.header__right img {
  padding: 10px;
  cursor: pointer;
  border-radius: 100%;
    
}

.header__right img:hover {
  border: 1px transparent #9fa5a5;
  border-radius: 100%;
  box-shadow: 0 0 5px  #9fa5a5;
}

/* Sidebar */
.sidebar {
  flex: 0.3;
  max-width: 250px;
  padding-right: 20px;
}

.sidebar__compose {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: black;
  width: 50%;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  border: px solid rgba(0, 0, 0, 0.75);
  
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);

}

.sidebar__compose img {
  margin-right: 10px;
}

.sidebar__compose img:hover{
  box-shadow: inset 0 1px 0 rgb(100 121 143 / 12%);
    
}

.sidebarOption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: black;
}

.sidebarOption .material-icons {
  padding: 5px;
}

.sidebarOption h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.sidebarOption:hover,
.sidebarOption:hover h3,
.sidebarOption:hover .material-icons,
.sidebarOption__active,
.sidebarOption__active h3,
.sidebarOption__active .material-icons {
  background-color: #fcecec;
  color: #c04b37;
  font-weight: 800;
}



.extra_icons img {
  display: flex;
  align-items: center;
}

/* side bar right extra_icons */

.sidebar_right img{

  object-fit: contain;
  height: 20px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}


/* main body */
.main__body {
  display: flex;
  height: 100vh;
  max-width: 1520px;
}

body {
  height: 100vh;
  overflow-y: hidden;
}

/* email list */
.emailList {
  flex: 1;
  overflow: scroll;
}

.emailList__settings {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding: 8px;
}

.emailList__settingsLeft {
  display: flex;
  align-items: center;
}

.emailList__settings .material-icons {
  margin: 5px;
  cursor: pointer;
}

.section {
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  padding: 15px;
  min-width: 200px;
  cursor: pointer;
  color: grey;
  border-width: 0;
}

.emailList__sections {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
  z-index: 999;
}

.section__selected {
  background-color: whitesmoke;
  border-width: 3px;
  color: red;
  border-bottom: 3px solid red;
}

.section__selected .material-icons {
  color: red;
}

.section:hover {
  background-color: whitesmoke;
  border-width: 3px;
}

.section h4 {
  font-size: 14px;
  margin-left: 15px;
}

.emailRow__options {
  display: flex;
  align-items: center;
}

.emailRow__options .material-icons,
input {
  margin: 5px;
}

.emailRow__options span:hover {
  color: gold;
}

.emailRow {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  z-index: 999;
}

.emailRow:hover {
  border-top: 1px solid whitesmoke;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRow__message {
  display: flex;
  flex: 0.8;
  align-items: center;
  font-size: 15px;
  
}

.emailRow__message h4 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: -150px;
  
  
}

.emailRow__title {
  font-size: 17px;
  flex: 0.3;
}

.emailRow__time {
  padding-right: 15px;
  font-size: 15px;
  font-weight: bold;
}

.emailRow__description {
  font-weight: 400;
  color: gray;
}
